<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ .Site.Title }}</title>

    <!-- Favicon (ICO or PNG) -->
    <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
    <!-- If you are using PNG, use this instead -->
    <!-- <link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/png"> -->

    <!-- Optional: Add more head tags or links as needed -->
</head>
<body>
    {{- /* Add body content here if needed */ }}
</body>
</html>
